@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/** Colores **/
#B4BF5E Menu
#CAD959 Border
#40311E titulos
/** Globales **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}
h2 {
    font-family: 'Handlee', cursive;
    font-size: 40px;
    text-align: center;
    color: #40311E;
}

.btn {
    /* margin-top: 20px; */
    padding: 10px 20px;
    background-color: #40311E;
    color: #F2C063;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}
.btn:hover {
    background-color: transparent;
    color: #40311E;
    border: 1px solid #40311E;
    transition: 0.5s;
    transform: scale(1.1, 1.2);
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}


/** Navegación **/

.header {
    background-color: #B4BF5E;
    border-bottom: 5px solid #CAD959;
}
.barra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .barra {
        flex-direction: row;
    }
} 
.barra__navegacion {
    width: 100%;
}
.barra__navegacion--menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    padding: 0;
}

.barra__navegacion--menu a {
    font-size: 20px;
    color: #535353;
    transition: 0.3s;
}
.barra__navegacion--menu a:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
}
@media screen and (min-width:480px) {  /*menu centrado*/
    .barra__navegacion--menu {
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {  /*menu a la derecha*/
    .barra__navegacion--menu {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.barra__sociales--iconos {
    font-size: 20px;
    color: #535353;
}

.barra__sociales--iconos:hover {
    color:#fff;
}

.barra__sociales--menu {
    display: flex;
    gap: 20px;
    padding: 0;
}
.barra__sociales-imagen {
    width: 42px;

}
.sociales-1{
    width: 61px;
}


/** Hero **/

.hero {
    background-image: linear-gradient(294deg, transparent , rgb(70 64 64 / 50%)) , url(../assets/mendoza1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
}

.hero__contenedor {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px) {
    .hero__contenedor {
        width: 40%;
        padding-left: 20px;
    }
}
.hero__contenedor img {
    width: 450px ;
}
.hero__titulo {
    font-family: 'Handlee', cursive;
    color: #F2C063;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}
.hero p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}
.hero input {
    width: 150px;
}

/** Elaboración **/

.elaboracion {
    margin-bottom: 30px;
    border-bottom: 1px solid #a8804c;
}


.elaboracion__contenedor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #a8804c;
}

@media screen and (min-width:768px) {
    .elaboracion__contenedor {
        flex-direction: row;
    }
}
.card__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.card__contenedor p {
    line-height: 1.4;
    text-align: center;
    margin-top: 0;
}
.card__imagen {
    width: 50%;
}


/** Origenes **/

.origenes__contenedor {
    display: grid;
    align-items: center;
    background-color: #B4BF5E;
}
.origenes__imagenes {
    width: 100%;
    object-fit: cover;
}
.origenes__parrafo {
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
}
@media screen and (min-width:768px) {
    .origenes__contenedor {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/** Noticias **/

.noticias__contenido {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-width:768px) {
    .noticias__contenido {
        flex-direction: row;
    }
}
.noticias__noticia {
    text-align: center;
    background-color: #B4BF5E;
    border: 8px solid #bdb9b9;
    box-shadow: 7px 5px 30px 20px rgba(152, 152, 152, 0.55);
}
.noticias__noticia img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.noticias__noticia > p {
    padding: 10px;
}

/** Newsletter **/

.newsletter {
    height: auto;
    margin-top: 40px;
    background-color: #F2C063;
    padding: 30px;
}
.newslleter__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.newslleter__contenedor input {
    padding: 10px;
    text-align: center;
}


@media screen and (min-width:600px) {
    .newslleter__contenedor {
        flex-direction: row;
    }
}
.newsletter h2 {
    margin: 0;
}

.newsletter p {
    font-size: 20px;
    text-align: center;
}

/** Footer **/

.footer {
    margin: 40px 0 0 0;
}
.footer__contenedor {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (min-width:768px) {
    .footer__contenedor {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }
}
.footer__contenido {
    width: 100%;
}

.footer__contenido img {
    width: 80%;
}

.footer__contenido a {
    font-size: 18px;
    line-height: 1.5;
}

.footer__copyright {
    /* font-weight: bold; */
    text-align: center;
    font-size: 20px;
    border-top: 1px solid rgba(152, 152, 152, 0.55);
    padding: 20px;
    margin: 0;
}

/** PAGINAS **/

/** Viñedos y Bodega **/
.nav-vinedos {
    padding-top: 20px;
}
.main h2 {
    font-size: 30px;
}
.container {
    box-shadow: 7px 5px 80px 10px rgb(116, 110, 99);
    padding: 10px 10px 1px 10px;
}
.img-fluid {
    border-radius: 5px;
}

.parrafo1::first-letter {
    font-size: 30px;
}


/** Nuestros Vinos **/


.galeria {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'area1 area6 area4'
        'area1 area6 area4'
        'area3 area5 area7 '
        'area3 area5 area2 ';
        gap: 10px;
        background-color: #fff;
        padding: 50px;
    } 
}

.galeria__fotos {
    width: 100%;

}
.galeria__fotos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.3s;
}

.galeria__fotos img:hover {
    filter: grayscale(0);
    transform: scale(1.1 ,1.1);
}


.foto1 {
    grid-area: area1;

}
.foto2 {
    grid-area: area6;
}
.foto3 {
    grid-area: area5;
}
.foto4 {
    grid-area: area4;
}
.foto5 {
    grid-area: area7;
}
.foto6 {
    grid-area: area3;
}
.foto7 {
    grid-area: area3;
}

/** Contacto **/

.nav-contacto {
    padding-top: 20px;
}
/* .descripcion p {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    padding: 0 10px;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-size: 20px;
    padding: 20px 0;
}

@media screen and (min-width:768px) {
    .formulario {
        flex-direction: row;
    }
    .formulario img {
        width: 60%;
    }
} 

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form__contenido {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.form__contenido input {
    padding: 10px;
}
.form button {
    width: 50%;
    align-self: flex-end;
    margin-top: 20px;
} */
