/** Viñedos y Bodega **/
.nav-vinedos {
    padding-top: 20px;
}
.main h2 {
    font-size: 30px;
}
.container {
    box-shadow: 7px 5px 80px 10px rgb(116, 110, 99);
    padding: 10px 10px 1px 10px;
}
.img-fluid {
    border-radius: 5px;
}

.parrafo1::first-letter {
    font-size: 30px;
}

