@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/** Colores **/
$colorMenu: #B4BF5E;
$colorBorde: #CAD959;
$colorTitulo: #40311E;
$colorNaranja: #F2C063;
$blanco: #fff;
$colorFuentegris: #535353;

/** Fuents**/
$FuentePrincipal: 'Montserrat', sans-serif;
$FuenteSecundaria: 'Handlee', cursive;